body{
    font-family: 'Shippori Mincho B1', serif;
    color:rgb(46, 46, 81);
    margin: 0;
}

.container{
    display: flex;
    background-color: #ffe4c46c;
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 55em;
    border-radius: 4px;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);  
    padding: 50px;
}

section{
    margin: 10px;
    display: flex;
    flex-direction: column;
    padding: 15px;
    border-radius: 10px;
}

figure img{
    width: 12em;
    border-radius: 8px;
}
.container-left
.container-right{
    display: flex;
    flex-direction: column;
}
:active, :focus {
    outline: 0;
    outline-offset: 0;
}
summary:hover{
    cursor: pointer;
}

.contacts{
    background-color: rgba(255, 204, 153, 0.308);
}
.education{
    background-color: rgba(255, 237, 154, 0.418);
}
.languages{
    background-color: #fae4d6;
}
.skills{
    background-color: #fffd7546;
}
.experience{
    background-color: #ffdba88f;
}
.profile{
    background-color: #ffcba062;
}
.code{
    background-color: rgba(255, 236, 154, 0.288);
}

footer{
    display: flex;
    justify-content:space-between;
    align-items:center;
    background-color: rgba(77, 29, 74, 0.329);
    border-top: solid rgb(83, 15, 63);
    height: 6%;
    padding-left: 10px;
    padding-right: 10px;
}
