body{
    font-family: 'Shippori Mincho B1', serif;
}

.container{
    display: block;
    background-color: beige;
    margin-left: auto;
    margin-right: auto;
    width: 55em;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);  
}

section img{
    width: 12em;
}
